<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>gherardi.riccardo.sshfs</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>15299C7A-CDEA-4359-8898-446F2892DB7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C341550B-40CD-44AF-B4DD-B146B6718D18</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>73B18A3A-F78C-42F8-A710-BE9E351B2D2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C2A083ED-39AF-4E8B-9A26-430D0A64F9DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6518AEC1-CFF8-40A1-A5EF-989ED22C3248</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3A19A74E-9EFE-46F2-9EB3-499A911CE161</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3E941A6-3753-4A42-A228-DCAB94ADEF97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>491BE84B-CF96-405D-8105-8879E6F5C276</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3E941A6-3753-4A42-A228-DCAB94ADEF97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6518AEC1-CFF8-40A1-A5EF-989ED22C3248</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F2EEE02-7A6C-415E-8214-17103DE89441</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>73B18A3A-F78C-42F8-A710-BE9E351B2D2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>491BE84B-CF96-405D-8105-8879E6F5C276</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2A083ED-39AF-4E8B-9A26-430D0A64F9DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A19A74E-9EFE-46F2-9EB3-499A911CE161</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C341550B-40CD-44AF-B4DD-B146B6718D18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D795053F-757C-4DE7-B2AD-D5E095AA481D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3E941A6-3753-4A42-A228-DCAB94ADEF97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D795053F-757C-4DE7-B2AD-D5E095AA481D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3E941A6-3753-4A42-A228-DCAB94ADEF97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Riccardo Gherardi</string>
	<key>description</key>
	<string>Mounts and unmounts remote locations through sshfs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mount sshfs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>\d</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>C341550B-40CD-44AF-B4DD-B146B6718D18</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>host</key>
					<string>sjc10-neuron{query}.sjc10.amazon.com</string>
					<key>volume</key>
					<string>neuron{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D795053F-757C-4DE7-B2AD-D5E095AA481D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:volume} under {var:mountpath}</string>
				<key>title</key>
				<string>Volume mounted!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo sshfs -p 22 {var:user}@{var:host}:/ {var:mountpath}/{var:volume} -oauto_cache,reconnect,defer_permissions,noappledouble,negative_vncache,volname={var:volume}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>mount</string>
				<key>subtext</key>
				<string>Usage: mount 4</string>
				<key>text</key>
				<string>Mount remote shares through sshfs</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>15299C7A-CDEA-4359-8898-446F2892DB7C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>cdd</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>73B18A3A-F78C-42F8-A710-BE9E351B2D2F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>mountpath</key>
					<string>/tmp</string>
					<key>user</key>
					<string>gherardr</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C3E941A6-3753-4A42-A228-DCAB94ADEF97</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>host</key>
					<string>gherardr.aka.corp.amazon.com</string>
					<key>volume</key>
					<string>cdd</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>491BE84B-CF96-405D-8105-8879E6F5C276</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>host</key>
					<string>gherardr-desktop.aka.corp.amazon.com</string>
					<key>volume</key>
					<string>dd</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3A19A74E-9EFE-46F2-9EB3-499A911CE161</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>dd</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>C2A083ED-39AF-4E8B-9A26-430D0A64F9DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Unknown mount point: {query}</string>
				<key>title</key>
				<string>Could not mount volume</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5F2EEE02-7A6C-415E-8214-17103DE89441</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^(?!\d|(dd)|(cdd)).*$</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>6518AEC1-CFF8-40A1-A5EF-989ED22C3248</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>15299C7A-CDEA-4359-8898-446F2892DB7C</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>3A19A74E-9EFE-46F2-9EB3-499A911CE161</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>491BE84B-CF96-405D-8105-8879E6F5C276</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>5F2EEE02-7A6C-415E-8214-17103DE89441</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>6518AEC1-CFF8-40A1-A5EF-989ED22C3248</key>
		<dict>
			<key>note</key>
			<string>else</string>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>73B18A3A-F78C-42F8-A710-BE9E351B2D2F</key>
		<dict>
			<key>note</key>
			<string>cdd</string>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>A70A4E1E-712E-4575-967A-0AA64960904D</key>
		<dict>
			<key>xpos</key>
			<integer>840</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>C2A083ED-39AF-4E8B-9A26-430D0A64F9DD</key>
		<dict>
			<key>note</key>
			<string>dd</string>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>C341550B-40CD-44AF-B4DD-B146B6718D18</key>
		<dict>
			<key>note</key>
			<string>digits</string>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>C3E941A6-3753-4A42-A228-DCAB94ADEF97</key>
		<dict>
			<key>note</key>
			<string>Set username and mountpath here</string>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>D795053F-757C-4DE7-B2AD-D5E095AA481D</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/r1cc4rdo/alfred-workflows</string>
</dict>
</plist>
