<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.r1cc4rd0</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>38AA70C3-6C90-4D07-8949-FC5E4FEC3C54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E3C3D039-A76D-4D5D-9047-1AC65FC1928E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>654CC200-02CE-4D1A-9D6F-DDE933F21C6F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F095D2AC-D19E-4719-9493-C57C23680B60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E3C3D039-A76D-4D5D-9047-1AC65FC1928E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFD66ACF-4674-4687-8002-833B9B316C77</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F095D2AC-D19E-4719-9493-C57C23680B60</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38AA70C3-6C90-4D07-8949-FC5E4FEC3C54</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Riccardo Gherardi</string>
	<key>description</key>
	<string>Sends a message through Chime</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Chime</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{var:login}</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>FFD66ACF-4674-4687-8002-833B9B316C77</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>chime</string>
				<key>subtext</key>
				<string>Example: chime gherardr</string>
				<key>text</key>
				<string>Open / send a message via Chime</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>654CC200-02CE-4D1A-9D6F-DDE933F21C6F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>t</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>E3C3D039-A76D-4D5D-9047-1AC65FC1928E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Amazon Chime.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>38AA70C3-6C90-4D07-8949-FC5E4FEC3C54</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>login</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F095D2AC-D19E-4719-9493-C57C23680B60</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>38AA70C3-6C90-4D07-8949-FC5E4FEC3C54</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>654CC200-02CE-4D1A-9D6F-DDE933F21C6F</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>E3C3D039-A76D-4D5D-9047-1AC65FC1928E</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>F095D2AC-D19E-4719-9493-C57C23680B60</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>FFD66ACF-4674-4687-8002-833B9B316C77</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/r1cc4rdo/alfred-workflows</string>
</dict>
</plist>
