<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>gherardi.riccardo.showtell</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0F152BA6-3DEC-4374-8ADB-054EEA1D17FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCBEF424-74C5-441F-B899-C496F7D134AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2E46ACE8-EAC0-4083-8977-F77BC346EFA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29CB83BB-EFDA-4195-839A-1BF1740FDBA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2C69B6EF-35E6-4604-ADC9-9EED8DD482B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB1EE453-D8E5-497D-91C8-2AC498516557</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F152BA6-3DEC-4374-8ADB-054EEA1D17FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Riccardo Gherardi</string>
	<key>description</key>
	<string>Show/say messages</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Show &amp; tell</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>show</string>
				<key>subtext</key>
				<string>Example: show let's go!  hurry!</string>
				<key>text</key>
				<string>Display text in large type</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FB1EE453-D8E5-497D-91C8-2AC498516557</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import re
import sys

print re.sub('  +', '\n', sys.argv[1])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0F152BA6-3DEC-4374-8ADB-054EEA1D17FD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>largetypetext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>FCBEF424-74C5-441F-B899-C496F7D134AC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>say {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>29CB83BB-EFDA-4195-839A-1BF1740FDBA2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>say</string>
				<key>subtext</key>
				<string>Example: say let's go!</string>
				<key>text</key>
				<string>Say {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2E46ACE8-EAC0-4083-8977-F77BC346EFA9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>"{query}"</string>
				<key>title</key>
				<string>Saying</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2C69B6EF-35E6-4604-ADC9-9EED8DD482B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0F152BA6-3DEC-4374-8ADB-054EEA1D17FD</key>
		<dict>
			<key>note</key>
			<string>Converts 2+ spaces
to newlines</string>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>29CB83BB-EFDA-4195-839A-1BF1740FDBA2</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>2C69B6EF-35E6-4604-ADC9-9EED8DD482B7</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>2E46ACE8-EAC0-4083-8977-F77BC346EFA9</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>FB1EE453-D8E5-497D-91C8-2AC498516557</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>FCBEF424-74C5-441F-B899-C496F7D134AC</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/r1cc4rdo/alfred-workflows</string>
</dict>
</plist>
