<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>gherardi.riccardo.timer</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>06CEEE8F-8CCA-4B53-B97A-B9436A460F11</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90273618-B4E4-46A9-B93D-CC7D2DE161E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1B782DC5-8BCB-4356-ACA9-F56A369C6868</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46C609CE-6E44-426D-925F-7A6CB7B17945</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>225ED2BA-4749-4CC2-AE8A-C2EB5BF008D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB44975B-69F4-4C9A-A2C9-B8C7528E6661</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2BAEB90D-8D2F-4824-8C6F-8361A5E38A93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>225ED2BA-4749-4CC2-AE8A-C2EB5BF008D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C9405C8-53E7-43E9-A4A7-D4122B31F8B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90273618-B4E4-46A9-B93D-CC7D2DE161E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>46C609CE-6E44-426D-925F-7A6CB7B17945</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90273618-B4E4-46A9-B93D-CC7D2DE161E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>593BEDD0-90D3-44EB-A8FA-B207543286BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90273618-B4E4-46A9-B93D-CC7D2DE161E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7ABCB13F-EDE4-4852-AF53-E107B909B54B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E4DBADE-6539-4474-B400-825C1186F925</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E4DBADE-6539-4474-B400-825C1186F925</key>
		<array/>
		<key>8077FA09-6686-4A30-AFEB-2A1DF159940E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06CEEE8F-8CCA-4B53-B97A-B9436A460F11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B532EA1-F46D-4AD3-9E34-BAFB8E6ADF71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BAEB90D-8D2F-4824-8C6F-8361A5E38A93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90273618-B4E4-46A9-B93D-CC7D2DE161E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B532EA1-F46D-4AD3-9E34-BAFB8E6ADF71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7ABCB13F-EDE4-4852-AF53-E107B909B54B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C233D9BD-4D09-4A3E-8864-24FF5597D734</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C9405C8-53E7-43E9-A4A7-D4122B31F8B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Riccardo Gherardi</string>
	<key>description</key>
	<string>Simple timer</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Timer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>timer</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>from itertools import takewhile, dropwhile, islice, chain
from operator import mul
import json
import sys
import re

tokens = sys.argv[1].split()
hms = list(islice(takewhile(lambda s: re.match('^\d+$', s), tokens), 0, 3))
message = ' '.join(islice(tokens, len(hms), None)).strip().capitalize()
hms = ['050', ['0']+hms+['0'], ['0']+hms, hms][len(hms)]

hms_str = ''.join(chain(*dropwhile(lambda x: x[0]=='0', zip(hms, 'hms', '   '))))
seconds = sum(map(mul, map(int, hms), (3600, 60, 1)))

print json.dumps({
    "variables":
    {
        "desc": ":alarm_clock:",
        "startmsg": "Starting timer",
        "endmsg": "Time's up!" if not message else message,
        "seconds": str(seconds),
		"color": "black"
    },
    "items":
    [{
        "uid": "timer",
        "title": "Set a timer for {}".format(hms_str),
        "subtitle": message,
        "arg": str(seconds),
        "autocomplete": "timer"
    }]
})
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Example: timer 3 30 tea is ready</string>
				<key>title</key>
				<string>Set a timer</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>593BEDD0-90D3-44EB-A8FA-B207543286BD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Blow</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>DB44975B-69F4-4C9A-A2C9-B8C7528E6661</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:endmsg}</string>
				<key>title</key>
				<string>Timer</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>225ED2BA-4749-4CC2-AE8A-C2EB5BF008D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:startmsg}</string>
				<key>title</key>
				<string>Timer</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8B532EA1-F46D-4AD3-9E34-BAFB8E6ADF71</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>{var:seconds}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>2BAEB90D-8D2F-4824-8C6F-8361A5E38A93</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pomodoro</string>
				<key>subtext</key>
				<string>Focus!</string>
				<key>text</key>
				<string>Start a pomodoro</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1B782DC5-8BCB-4356-ACA9-F56A369C6868</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>90273618-B4E4-46A9-B93D-CC7D2DE161E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:seconds}</string>
				<key>variables</key>
				<dict>
					<key>color</key>
					<string>red</string>
					<key>desc</key>
					<string>:tomato:</string>
					<key>endmsg</key>
					<string>Good job!</string>
					<key>seconds</key>
					<string>1500</string>
					<key>startmsg</key>
					<string>Pomodoro started</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>46C609CE-6E44-426D-925F-7A6CB7B17945</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/usr/bin/python
# -*- coding: utf-8 -*-

import sys
import time
import json
import tempfile

desc, seconds, color = sys.argv[1].split()
with open('/tmp/timers.json', 'w') as f:
    json.dump([{
		'desc': desc,
        'start_time': time.time(),
        'duration': int(seconds),
        'color': color
    }], f)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7E4DBADE-6539-4474-B400-825C1186F925</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://getbitbar.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9956EC6C-B333-4A87-965D-A7457CBCD9D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:desc} {var:seconds} {var:color}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7ABCB13F-EDE4-4852-AF53-E107B909B54B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>shortbreak</string>
				<key>subtext</key>
				<string>Good job!</string>
				<key>text</key>
				<string>Start a short break</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8077FA09-6686-4A30-AFEB-2A1DF159940E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>color</key>
					<string>green</string>
					<key>desc</key>
					<string>:tomato:</string>
					<key>endmsg</key>
					<string>Back to work!</string>
					<key>seconds</key>
					<string>300</string>
					<key>startmsg</key>
					<string>Short break started</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>06CEEE8F-8CCA-4B53-B97A-B9436A460F11</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>longbreak</string>
				<key>subtext</key>
				<string>You deserve it.</string>
				<key>text</key>
				<string>Start a long break</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C233D9BD-4D09-4A3E-8864-24FF5597D734</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>color</key>
					<string>blue</string>
					<key>desc</key>
					<string>:tomato:</string>
					<key>endmsg</key>
					<string>Back to work!</string>
					<key>seconds</key>
					<string>1800</string>
					<key>startmsg</key>
					<string>Long break started</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3C9405C8-53E7-43E9-A4A7-D4122B31F8B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>06CEEE8F-8CCA-4B53-B97A-B9436A460F11</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>1B782DC5-8BCB-4356-ACA9-F56A369C6868</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>225ED2BA-4749-4CC2-AE8A-C2EB5BF008D2</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>2BAEB90D-8D2F-4824-8C6F-8361A5E38A93</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>3C9405C8-53E7-43E9-A4A7-D4122B31F8B1</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>46C609CE-6E44-426D-925F-7A6CB7B17945</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>593BEDD0-90D3-44EB-A8FA-B207543286BD</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>7ABCB13F-EDE4-4852-AF53-E107B909B54B</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>7E4DBADE-6539-4474-B400-825C1186F925</key>
		<dict>
			<key>note</key>
			<string>Optional bitbar support.
Find the script in the
workflow directory</string>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>8077FA09-6686-4A30-AFEB-2A1DF159940E</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>8B532EA1-F46D-4AD3-9E34-BAFB8E6ADF71</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>90273618-B4E4-46A9-B93D-CC7D2DE161E6</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>9956EC6C-B333-4A87-965D-A7457CBCD9D8</key>
		<dict>
			<key>note</key>
			<string>Download bitbar from
https://getbitbar.com/</string>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>C233D9BD-4D09-4A3E-8864-24FF5597D734</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>DB44975B-69F4-4C9A-A2C9-B8C7528E6661</key>
		<dict>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/r1cc4rdo/alfred-workflows</string>
</dict>
</plist>
